$primary-color: #aac8ff;
$primary-light: #d9e7ff;
$background-color: #edf3f3;

$color-yellow: #fff3d8;
$color-crown-of-thorns: #772122;
$color-hover: #cd5c5c;
$color-navy: #000080;
$color-purple: #800080;
$color-red: #f00;
$color-darkgray: #333;
$color-gray: #888;
$color-white: #fff;
$color-black: #000;

body {
  background-color: $background-color;
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

// h1 {
//   background-color: $color-crown-of-thorns;
//   border-radius: 5px;
//   color: $color-white;
// }

.mainsection {
  border-top: 1px solid $color-black;
  // border-radius: 5px;
  display: block;
  padding: 10px;

  .fig {
    background-color: $primary-light;
    border: 1px solid $color-black;
    border-radius: 5px;
    margin: 0 0 16px;
    // min-width: 500px;
    padding: 0 10px;
    text-align: center;
    width: 50%;

    &-right {
      float: right;
      margin-left: 10px;
      width: calc(50% - 10px);
    }

    &-left {
      float: left;
      margin-right: 10px;
      width: calc(50% - 10px);
    }

    &-big {
      // margin: 0 auto 10px;
      width: 100%;
    }

    &-small {
      width: 100%;
    }

    img {
      width: 100%;
    }

    figcaption {
      font-weight: bold;
      margin: auto;
      padding: 10px 0;
    }
  }

  p {
    padding: 0 10px;

    >img {
      border: 1px solid $color-black;
      border-radius: 5px;
      vertical-align: middle;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px -10px;
}

.col {

  &-4 {
    margin: 0 10px;
    max-width: calc(100% / 3 - 20px);
  }
}


.clearfix::after {
  clear: both;
  content: '';
  display: table;
}
