// scss-lint:disable IdSelector, ColorVariable, SelectorFormat, NestingDepth, SelectorDepth
@import '../components/font-awesome/scss/font-awesome';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Semibold.otf');
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-yellow: #fff3d8;
$color-crown-of-thorns: #772122;
$color-hover: #cd5c5c;
$color-navy: #000080;
$color-purple: #800080;
$color-red: #f00;
$color-darkgray: #333;
$color-gray: #888;
$color-white: #fff;
$color-black: #000;


$primary-color: #aac8ff;
$primary-light: #d9e7ff;
$background-color: #edf3f3;
$fornrit-header-color: #9e8555;
$mim-header-color: $color-navy;


// Mode-specific styles:
.mode-fornrit {
  #header {
    background-color: $fornrit-header-color;

    #top-bar * {
      color: $color-darkgray;

      &::after {
        color: $color-darkgray;
      }
      a:hover {
        color: $color-navy;
      }
    }
  }

  .tabbable .nav.nav-tabs {
    background-color: $fornrit-header-color;
  }
}

.mode-mim {
  #header {
    background-color: $mim-header-color;

    #top-bar * {
      color: $color-gray;

      &::after {
        color: $color-gray;
      }
      a:hover {
        color: $color-white;
      }
    }
  }

  .tabbable .nav.nav-tabs {
    background-color: $mim-header-color;
  }
}
// End mode-specific styles


html {
  background-color: $background-color;
}

body {
  font-family: 'Source Sans Pro',Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  color: $color-navy;
  cursor: pointer;
  text-decoration: none;

  &.btn {
    color: $color-darkgray;
  }

  &:link {
    color: $color-navy;
  }

  &:visited {
    color: $color-purple;
  }

  &:hover {
    color: $color-hover;
  }

  &.absStat {
    color: #999;

    &:hover {
      color: $color-hover;
    }
  }

  &.relStat {
    color: $color-black;

    &:hover {
      color: $color-hover;
    }
  }
}

#welcome {
  padding: .2em;
}

.radio,
.checkbox {
  // bootstrap override
  display: inherit;
  margin-bottom: initial;
  margin-top: initial;
  min-height: initial;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

label {
  font-weight: initial;
  margin-bottom: 0;

  &.placeholder {
    color: #999;
    cursor: text;
    padding: 4px;
  }

}

.welcome-header {
  padding: .7em;
}

.ui-widget {
  font-family: inherit;

  input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: 1em;
  }
}

sup {
  line-height: 0;
}

img {
  border: 0;
}

// unvisited link
// visited link
// mouse over link

.link {
  color: $color-navy;
  cursor: pointer;

  &:hover {
    color: $color-hover;
  }
}


.radial-bkg {
  background-image: radial-gradient(ellipse at center, #f9fdff 56%, #ebf0f4 100%);
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.invalid-input {
  border-color: $color-red;
}

.color-blue {
  background-color: #d0d7f0;
}

.color-blue-light {
  background-color: #ebeefa;
}

.color-purple {
  background-color: #f7d1e4;
}

.color-purple-light {
  background-color: #f7edf3;
}

.color-green {
  background-color: #edfcd5;
}

.color-green-light {
  background-color: #f7fceb;
}

.color-yellow {
  background-color: $color-yellow;
}

.color-yellow-light {
  background-color: #fffaed;
}

.color-azure {
  background-color: #caeee8;
}

.color-azure-light {
  background-color: #edf7f5;
}

.color-red {
  background-color: #ffddd8;
}

.color-red-light {
  background-color: #fcece8;
}

.color-white {
  background-color: $color-white;
}

.color-unfocused {
  background-color: #eee;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.header-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: flex-start;
  padding: 0 10px;
  width: 80%;
}

.header-right {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 20%;

  .user-guide {
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: underline;
  }
}

.search-history-wrapper {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  max-width: 200px;

  label {
    color: $color-white;
    margin-right: 10px;
  }
  // TODO RMLOGO Bæta við þegar risamálheildarlogo er komið
  // margin: 0 10px;
  option {
    &:first-child {
      color: $color-gray;
    }
  }
}

#top-bar {
  padding: 6px 5px 5px 8px;
  width: 100%;

  * {
    color: $color-gray;
  }

  a:visited,
  a:link,
  a:active {
    color: $color-gray;
  }

  li {
    a,
    a:link,
    a:visited {
      // color: $color-gray;

      &:hover {
        color: $color-hover;
      }

      &.radioList_selected {
        color: $background-color;
        cursor: default;
        font-weight: bold;
      }
    }
    //TODO why don't these have matching classes??
    &.selected a {
      color: $background-color;
      cursor: default;
      font-weight: bold;
    }
  }
}

// match placeholder/watermark padding to border+padding for input element


// html5 placeholder support

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::placeholder,
textarea::placeholder {
  color: #999;
}

#search-options {
  background-image: none;
  border-top: 1px solid #aaa;
  margin-bottom: 8px;
  padding: 8px;

  select {
    margin-right: 5px;
  }

  > div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.click-cover {
  background-color: $color-white;
  bottom: 0;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

#corpus_id {
  font-family: monospace;
}

#cqp-string {
  font-family: monospace;
  width: 100%;
}

#header {
  background-color: $color-crown-of-thorns;
  margin: 0;
  position: relative;
  width: 100%;
}



footer {
  background-color: rgba(0, 0, 0, .2);
  height: 30px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;

  p {
    font-size: 15px;
    line-height: 20px;
    margin: 0;

    .footer-image {
      max-height: 20px;
      vertical-align: bottom;
    }
  }
}

// #content {
//   padding: 0 8px 8px 8px;
// }

.lang-selected {
  color: $color-black;
}

#languages {
  margin-top: -1px;
}

#languages,
#login {
  float: right;
  margin-right: 8px;
}

#query_table {
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  > select {
    display: block;
    margin-left: 2px;
  }
}

.lang-row {
  margin-bottom: 15px;
  overflow: auto;
  padding: 8px;
  white-space: nowrap;

  > select {
    display: block;
    margin-left: 2px;
  }

  &:nth-child(2n) {
    background-color: #f5f5f5;
  }

  + #removeLang {
    display: inline;
  }
}

.date-interval-arg-type {
  .section {
    margin-top: 1em;
  }

  button {
    min-width: 70px;
    text-align: left;
  }
}

.date_interval.popper-menu {
  padding: 1em;
  width: auto;
}

time-interval {
  .timepicker {
    display: inline-block;
    vertical-align: middle;
  }

  .fa-clock-o {
    color: $color-darkgray;
    vertical-align: middle;
  }

  .time {
    margin: 0 auto;
    width: 60%;
  }
}

#advanced pre {
  white-space: inherit;
}

.mode-parallel {
  #linkedLang {
    display: inline;
  }

  .context_select,
  .within_select {
    display: none;
  }

  .results_table {
    .odd {
      background-color: $color-yellow;
    }

    .even {
      background-color: lighten($color-yellow, 4%);
    }
  }
}


.statisticWords {
  border-style: hidden;
}

.searchForWordformInCorpus,
.corpusTitleHeader {
  cursor: pointer;
}

.ext {
  margin-right: 0;
}

.scroll_checkboxes {
  height: 33px;
  margin-bottom: 2px;
  overflow: hidden;
  vertical-align: bottom;
  width: 480px;
}

.buttonlink {
  color: #222;
  padding: .4em 1em .4em 20px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:link,
  &:visited {
    color: #222;
  }

  &:hover {
    color: #444;
  }
}

.numberOfChildren {
  color: $color-gray;
}

.webkit .hp_topframe > div {
  margin-top: 1px;
}

$corpusbox-width: 480px;

#corpusbox {
  cursor: pointer;

  .hp_topframe {
    color: #222;
    padding: .5em 1em .5em 20px;
    position: relative;
    text-decoration: none;
    width: $corpusbox-width;

    &:link,
    &:visited {
      color: #222;
    }

    &:hover {
      color: #444;
    }

    .ui-icon {
      left: .2em;
      margin: 0 5px 0 0;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }
  }
}

.popupchecks {
  background-color: #fefefe;
  border: solid thin #ccc;
  display: none;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  width: $corpusbox-width;
  z-index: 9999;

  .buttons {
    display: inline-block;
    font-size: .8em;
    margin: 10px 0;
    vertical-align: top;

    button {
      display: block;
      margin-bottom: 5px;
      text-align: left;
      width: 100%;

      .fa {
        margin-right: 3px;
      }
    }
  }

  .header {
    white-space: nowrap;
  }
}

.corpusInfoSpace {
  background-color: $color-white;
  border: 1px solid #ccc;
  display: none;
  left: 615px;
  max-width: 33%;
  min-height: 30px;
  min-width: 30px;
  padding-right: 4px;
  position: absolute;
  z-index: 10000;

  .popup_icon {
    height: 24px;
    margin-right: 4px;
    margin-top: -1px;
    vertical-align: middle;
    width: 24px;
  }
}

.tree {
  margin-bottom: -3px;
  margin-left: 2px;
  margin-top: 1px;
  overflow-x: hidden;
  padding-bottom: 1px;
  padding-top: 3px;
}

.collapsed {
  margin-bottom: 0;
}

.boxdiv {
  background-color: #f6f6f6;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 1px;
  padding-top: 3px;

  &.disabled {
    color: $color-gray;

    img {
      display: none;
    }
  }
}

.hplabel {
  padding: 2px 6px 0;
}

.boxlabel {
  padding: 2px 6px 0;

  > span {
    background: $color-white;
  }
}

.checkbox {
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  width: 12px;

  &.checked {
    background: url('../img/checked.png') no-repeat;
  }

  &.unchecked {
    background: url('../img/unchecked.png') no-repeat;
  }

  &.intermediate {
    background: url('../img/intermediate.png') no-repeat;
  }
}

.boxdiv.disabled .checkbox,
.tree.disabled > label .checkbox {
  @extend .fa;
  @extend .fa-lock;
  background: none;
  margin-bottom: 3px;
  text-align: center;
}

.query_footer {
  background-color: #e1e1e1;
  display: table;
  margin-bottom: 5px;
  padding: 1px 8px 8px;
  width: 50%;
}

.ui-autocomplete-tall {
  max-height: 335px;
  // prevent horizontal scrollbar
  overflow-x: hidden;
  overflow-y: auto;
  // add padding to account for vertical scrollbar
  padding-right: 20px;
}

.ui-preloader {
  background-size: 18px 18px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  width: 20px;
}

.image_button:hover {
  cursor: pointer;
}

td {
  margin: 0;
}

table {
  margin: 0 10px;
  padding: 0 5px;
}

.insert_token {
  align-items: center;
  background-color: #e1e1e1;
  border: 1px $color-black solid;
  border-radius: 4px;
  box-shadow: 2px 2px 3px $color-gray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 10px;
  padding: 5px;

  * {
    margin: 5%;
  }
}

.token_row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.token_container {
  display: inline-block;
  vertical-align: top;

  &:only-of-type .query_token .close_btn {
    cursor: default;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  .words_between {
    background-color: #e1e1e1;
    border: 1px solid #999;
    box-shadow: 2px 2px 3px $color-gray;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 0 1em;
    padding: 5px;
    vertical-align: top;

    input {
      width: 100px;
    }
  }

  .query_token {
    background-color: #e1e1e1;
    border: 1px solid #999;
    box-shadow: 2px 2px 3px $color-gray;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 10px;
    padding: 5px;
    vertical-align: top;

    .close_btn {
      cursor: pointer;
      float: right;
      font-size: 15px;
      opacity: 1;
      transition: opacity 200ms ease;
    }

    .remove_arg {
      margin-top: 15px;
      opacity: 1;
      transition: opacity 200ms ease;
    }


    .arg_selects.date_interval .arg_opts {
      display: none;

    }

    .arg_type {
      display: inline-block;
      vertical-align: middle;
      width: 160px;
    }

    .arg_opts {
      margin-left: 5px;
    }

    .arg_value {
      max-width: 300px;
      width: 90%;

      option {
        padding-bottom: 1px;
        padding-top: 1px;
      }
    }

    .btn-icon {
      cursor: pointer;
      display: inline-block;
      position: relative;
      right: -4px;
      top: -5px;
      vertical-align: top;
    }

    .pos_regex_builder_link {
      background-color: rgba(0, 0, 0, .2);
      font-size: .7em;
      font-weight: bold;
      padding: 0;
    }

    .left_col {
      display: flex;
      flex-direction: column;
      float: left;
      justify-content: space-between;
      min-width: 16px;
      vertical-align: top;
      width: 5%;

      * {
        align-self: center;
        display: block;
        margin-top: 10px;
      }
    }

    .repeat {
      float: right;
      margin-right: 25px;

      input {
        -moz-appearance: textfield;
        max-width: 30px;
      }
    }

    .token_header {
      cursor: move;
      padding-bottom: 3px;
    }

    .token_footer {
      font-size: .8em;

      .insert_arg {
        width: auto;

        span {
          margin: 1px -1px 0 0;
        }
      }

      button {
        height: 20px;
        width: 20px;

        i {
          font-size: 14px;
          left: -2px;
          position: relative;
          top: 0;
        }
      }

      &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    .close_token {
      background-color: rgb(242, 247, 255);
      border: thin #d3d3d3 solid;
      border-radius: 20px;
      color: $color-black;
      cursor: default;
      padding-left: 5px;
      padding-right: 2px;

      i {
        cursor: pointer;
      }
    }

    .lower_footer {
      margin-top: 2px;
      text-align: right;
    }

    #opt_menu {
      cursor: pointer;
      display: none;
      font-size: .8em;
      width: 100px;
    }
  }
}

.cqp_toggle {
  margin-bottom: 5px;
  margin-top: 5px;
}

#results-stats {
  overflow-x: hidden;
}

.lemgram_help {
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: capitalize;
  white-space: nowrap;

  > span {
    padding: 10px;
  }

  .hit.lemgram {
    text-transform: initial;
  }
}

.activate_word_pic {
  margin-top: 1em;
}

.word-pic-kwic-example {
  cursor: pointer;
}

.lemgram_result {
  counter-reset: wordpic;
  float: left;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 4px;

  table {
    margin: 0;
    padding: 0;
  }
}

.waiting-first {
  opacity: .5;
  transition: opacity 200ms;
}

.table_scrollarea {
  clear: both;
  margin-bottom: 1em;
  overflow: auto;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  transition: opacity 200ms;

  &.paging {
    opacity: .5 !important;
  }

  + .pager-wrapper {
    margin-top: 15px;
  }
}

.results_table {
  margin-left: 0;
  padding-left: 0;
  width: 100%;

  td {
    border: 0;
    white-space: nowrap;
  }

  &.reading {
    p {
      display: block;
      margin: auto;
      padding: 1em;
      width: 510px;
    }
  }

  .odd {
    background-color: $primary-color;
  }

  .even {
    background-color: $primary-light;
  }
}

.hits_picture_container {
  align-items: center;
  background-color: darken(#edf3f3, 8%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: inline_block;
  width: 100%;

  p {
    margin: 0;
    text-align: center;
  }
}

.hits_picture {
  cursor: pointer;
  transition: left 400ms ease;
  width: 100%;

  tr {
    height: 18px;
  }

  .odd {
    background-color: $primary-color;
  }

  .even {
    background-color: $primary-light;
  }
}

#display_word {
  margin: auto 0;
}


.loading .reading_btn {
  display: none;
}

.pager-wrapper:empty ~ .reading_btn {
  margin-left: 0;
}

.reading_btn {
  display: none;
  margin-left: 1em;
  margin-top: 3px;
  vertical-align: middle;
  white-space: nowrap;

  .show_reading {
    line-height: 1.1;
  }
}

.not_loading .reading_btn {
  display: inline;
}

.reading_mode .reading_btn.show_reading,
.reading_btn.hide_reading,
.zero_results .reading_btn {
  display: none;
}

.reading_mode .reading_btn.hide_reading {
  display: inline;
}




.reading_match {
  color: $color-black !important;
  font-weight: bold;
}

.result_table td {
  white-space: nowrap;
}

.left {
  text-align: right;
  vertical-align: text-top;
}

.match {
  font-weight: bold;
  padding: 0 4px;
  text-align: center;
  vertical-align: text-top;
}

.corpus_title {
  color: #333;
  display: block;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 -150px;
  padding: 0 4px;
  text-align: center;
  text-decoration: underline;
  vertical-align: text-top;

}

.not_corpus_info {
  .corpus_title,
  .empty_td {
    display: none;
  }
}

.corpus_info {
  background-color: $background-color !important;
}

.reading_mode .corpus_title {
  font-size: 3em;
  margin: 0;
  text-align: left;
}

.reading_mode .no_context .corpus_title {
  left: 0;
}

.corpus_title_warn {
  font-variant: normal;
  left: 10px;
  margin-right: -100px;
  position: relative;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.reading_mode .corpus_title_warn {
  display: block;
  font-size: 12px;
}

.webkit .reading_mode .no_context .corpus_title_warn {
  margin-bottom: -40px;
}

.right {
  vertical-align: text-top;
}

.extra {
  color: #e1e1e1;
}

.alt {
  background-color: #dde9ff;

  td {
    border: 0;
  }
}

.attr {
  display: none;
  font-size: xx-small;
  vertical-align: bottom;
}

.sentence img {
  border-width: 0;
}

.word {
  cursor: pointer;

  &.punct {
    margin-left: -3px;
  }

  &:hover {
    color: $color-hover;
  }
}

.match_sentence {
  color: $color-black !important;
}

.reading_mode .word {
  color: #666;
}

.matching_sentence {
  color: $color-black !important;
}

.word_selected {
  border-radius: 10px;
  margin-left: -3px;
  padding-left: 3px;

  &:hover {
    color: $color-hover;
  }
}

.link_selected {
  background-color: rgb(68, 85, 150);
  border-radius: 11px;
  color: $color-white !important;
}

.token_selected {
  background-color: #666;
  color: $color-white !important;
}

.aux_selected {
  background-color: #ffddd8;
  color: $color-black;
}

#result-container {
  clear: both;
  min-height: 400px;
}

#json-link {
  // Clear floats so that the JSON link is right-justified and not
  // placed to the left of the download links.
  clear: both;
  float: right;

  img {
    border: 0;
  }
}

.loading #download-links-container {
  display: none;
}

#download-links {
  float: right;
}

#frontendDownloadLinks {
  float: right;
}

.download_link {
  img {
    border: 0;
  }
}

.loading .download_link {
  display: none;
}

#columns {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  position: relative;
}

#left-column {
  padding-bottom: 30px;
  position: relative;
  transition: width 300ms;
  width: 100%;

  &.sidebar_visible {
    transition: width 300ms;
    width: 85%;
  }
}

#sidebar {
  min-width: 100px;
  padding: 5px 0 5px 5px;
  position: absolute;
  right: -300px;
  transition: right 300ms;
  width: 15%;

  &.visible {
    right: 0;
    transition: right 300ms;

    &.fixed {
      max-height: 100%;
      overflow-y: auto;
      position: fixed;
      right: 8px;
      top: 8px;
    }
  }

  &:empty {
    border: 0;
    padding: 0;
  }

  li:hover .external_link {
    background-size: 15px;
    cursor: pointer;
    display: inline-block !important;
    height: 12px;
    margin-left: 2em;
    position: relative;
    top: 2px;
    vertical-align: middle;
    width: 15px;
  }

  div {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  ul {
    line-height: 16px;
    list-style: none;
    margin-bottom: 2px;
    margin-top: 0;
    padding-left: 20px;
  }

  #selected_sentence > h4:last-child {
    display: none;
  }
}

.external_link {
  display: none;
}

#sidbar_info {
  display: inline-block;
  left: 5px;
  margin-top: -4px;
  opacity: .8;
  position: relative;
  top: 3px;
  vertical-align: middle;
}

.kwic_sidebar {
  background-color: $color-white;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

.video-modal-bootstrap {
  top: 25%;
}

#dialog ol {
  font-size: 12px;
  list-style: decimal;
  margin: 10px 0;

  > li {
    line-height: 18px;
    padding: 5px 0;
  }
}


.absStat {
  color: #999;
}



.word_column {
  text-align: left;
}

.linked_sentence {
  color: #999;
  font-style: italic;
  font-weight: normal;
  overflow-x: visible;
  position: relative;

  .left,
  .match,
  .right {
    display: none;
  }
}

#about_body {
  overflow-y: scroll;
  position: relative;
}

#about_content ul {
  margin-top: 8px;
  padding-left: 10px;
}

.login-modal-header {
  padding-bottom: 3px;
  padding-top: 3px;

  .login-header {
    font-weight: bold;
  }
}

#login_popup {
  min-height: 190px;

  * {
    display: block;
  }

  label {
    margin-top: 5px;
  }

  .err_msg {
    color: $color-red;
    font-size: .8em;
  }

  .password-reset {
    float: right;
    font-size: .7em;
  }

  input[type=text] {
    width: 100%;
  }

  input[type=password] {
    width: 100%;
  }

  input[type=submit] {
    float: right;
    margin-top: 5px;
  }

  .save-login {
    display: inline;
    font-size: .9em;
  }
}

#log_out {
  float: right;
  margin-left: 3px;
  margin-right: 8px;
}

// when selecting a word, not a lemgram, this pops up.

.lemgram_select {
  margin-top: 8px;
}

label[for=lemgram_select]::before {
  display: block;
}

#highlight {
  background-color: #fff3d8;
  border-radius: 5px;
  position: absolute;
}

.inline_list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    color: $color-gray;
    padding: 0 5px;
  }
}

.msie8 .inline_list li {
  display: inline;
}


#mode_switch {
  float: left;
  margin: 0;
  margin-right: 10px;
  padding-left: 0;

  li {
    &.visible {
      display: inline-block;
      vertical-align: middle;
    }

    &.visible::after {
      color: $color-gray;
      content: '|';
      margin: 0 .3em;
    }

    &:last-child::after {
      display: none;
    }

    .dropdown-toggle {
      background-color: transparent;
    }

    &.menu_more {
      margin-left: -3px;

      a {
        background: rgba(0, 0, 0, 0);
      }

      i {
        padding-left: 5px;
      }
    }
  }
}

.custom_anchor {
  padding-right: 8px !important;
}

.tabClose {
  cursor: pointer !important;
  margin-right: 6px;
  padding: 0 !important;
}

.hits_picture_table {
  border: 1px solid #d3d3d3;
  margin: 0;
  padding: 0;
  width: 100%;
}



#showLineDiagram {
  display: none;
  position: relative;
  top: 3px;
}

.right_col {
  padding-right: 2px;
}

.ie8 .right_col .input {
  float: right;
}

.query_arg {
  background-color: #f0f0ee;
  border: solid 1px #999;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px;
  padding-right: 13px;
}

.or_arg {
  margin-bottom: 5px;

  .fa-info-circle {
    cursor: pointer;
    margin-left: 5px;
  }
}

.query_arg:only-of-type .or_arg:only-child .remove_arg {
  cursor: default;
  opacity: 0;
  transition: opacity 200ms ease;
}

.arg_header {
  font-size: 10px;
  margin-bottom: 1px;
  opacity: 0;
  transition: opacity 200ms ease;
}

.or_arg:not(:only-child):first-child .arg_header {
  opacity: 1;
  transition: opacity 200ms ease;
}

.insert_or {
  cursor: pointer;
  float: right;
  padding-top: 6px;
  right: 0;
}


#time {
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}

#time_inputs {
  input {
    border: 0;
    font-weight: bold;
    width: 30px;
  }
}

#time_graph {
  display: inline-block;
  height: 70px;
  margin-bottom: 1em;
  vertical-align: middle;
  width: 335px;
}

#rest_time_graph {
  bottom: 20px;
  display: inline-block;
  height: 70px;
  position: relative;
  vertical-align: middle;
  width: 5px;
}

#time_slider {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 250px;
}

.exportTimeStatsSection {
  margin-top: 2em;
}

.export.btn {
  margin-right: 1em;
}

.ui-slider-handle {
  border-radius: 20px;
}

.sidebar_url {
  white-space: nowrap;
}

.arcDiagramPicture {
  cursor: pointer;
  margin-bottom: -2px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 0;
}

.c0 {
  position: relative;
}


.lemgram_section {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.tableContainer {
  border: solid 1px #d3d3d3;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 10px;
  vertical-align: top;

  > .header {
    color: $color-darkgray;
    font-family: Lucida Grande, sans-serif;
    font-size: 1.1em;
    margin-bottom: 1em;
  }
}

.explanation {
  font-size: 12px;
  padding: 0 20px;
}

.ui-dialog ul,
.ui-dialog ol {
  padding-left: 0;
}

.ui-dialog li {
  margin-bottom: 3px;
}

.autocomplete-item-disabled a {
  color: $color-hover;
  font-style: italic;
  opacity: .7;
}

#labs_logo {
  display: none;
}

#main_logo {
  max-width: 200px;
}

#as_logo {
  margin-left: auto;
}

#korplink {
  display: none;
}

.lab {
  #korplablink {
    display: none;
  }

  #korplink {
    display: block;
  }

  #showLineDiagram {
    display: inline;
  }

  #labs_logo {
    display: inline-block;
    vertical-align: bottom;
  }
}

#cog {
  cursor: pointer;
  float: right;
  height: 26px;
  margin-top: -6px;
}

#cog_menu {
  font-size: inherit;
  position: absolute;
  text-align: right;
}

.ui-menu {
  box-shadow: 2px 2px 3px $color-gray;
  z-index: 999;
}

.error_message {
  height: 128px;
}

.fail_text {
  font-family: Garamond,Cochin,Serif;
  font-size: 1.3em;
  margin: 1em 0 0 1em;
  vertical-align: top;
}

.error_msg ~ * {
  display: none !important;
}

.msd_sidebar {
  font-size: .8em;
}

#korp-simple {
  #simple_text {
    display: inline-block;
    margin-top: 2px;
    position: relative;
    vertical-align: middle;
  }

  .simple_form {
    float: left;
  }

  .opts {
    margin-bottom: 1em;
    margin-top: 1em;

    input {
      vertical-align: text-bottom;
    }
  }

  #similar_wrapper {
    float: right;
    margin-left: 3em;
    text-align: right;
    vertical-align: top;

    .btn_header {
      font-size: 1.1em;
    }

    button {
      display: block;
    }
  }
}

.modal {
  border-radius: 3px;
  font-size: 1.3em;
  max-height: initial;
  overflow-y: auto;

  &.fade.in {
    margin-top: 0;
    top: 50px;
  }
}

.modal-header h3,
.modal-header h2 {
  font-weight: normal;
  margin: 0 inherit;
}


.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;

  .close-x {
    cursor: pointer;
    font-size: 2em;
    text-align: right;

    &:hover {
      color: #a9a9a9;
    }
  }
}

.modal-open {
  overflow: hidden;
}

.modal-body {
  max-height: calc(80vh - 75px);
  min-height: 300px;

}

.related.modal {

  .modal-body {
    overflow: auto;

    ul {
      align-content: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 160px;
      justify-content: flex-start;

      li {
        margin-right: 1em;
      }
    }
  }

  .col {
    .header {
      font-size: 1.1em;
    }
  }
}

.extended .search-submit {
  margin-left: 30px;
}

.search-submit {
  display: inline-flex;
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
  width: 100px;

  .btn-group {
    height: 100%;
    width: 100%;

    #sendBtn {
      background-color: #fff;
      border: 1px solid #000;
      font-size: 1.5em;
      height: 100%;
      width: 80%;

      &:hover {
        background-color: #aaa;
      }
    }

    .opener {
      height: 100%;
      margin-left: 0;
      padding: 0;
      width: 20px;
    }
  }
}

.search_tabs {
  &.tabbable {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .nav.nav-tabs li:nth-child(4) {
    margin-left: 1em;
  }

  .tab-content {
    overflow: visible;
  }

  .search_compare {
    padding-top: 1em;

    .delete {
      float: right;

      .fa {
        margin-right: .8em;
      }
    }

    .search {
      display: block;
      margin-top: 2em;
    }

    select {
      margin: 0 5px;
    }
  }
}

option[value^='? string:sentence ?'] {display: none;}

.nav-tabs .disabled {
  opacity: .6;
}

#results-wrapper .nav-tabs li:nth-child(4) {
  margin-left: 1em;
}



.mod_menu {
  cursor: default;
  font-size: .9em;
  position: absolute;
}


slider {
  display: inline-block;
  height: 5px;
  margin: 25px 5px;
  position: relative;
  vertical-align: middle;
  width: 100%;

  span {
    display: inline-block;
    position: absolute;
    white-space: nowrap;

    &.base {
      height: 100%;
      padding: 0;
      width: 100%;
    }

    &.bar {
      background-image: linear-gradient(to top, #ccc, $color-white);
      border-radius: 1em/1em;
      box-shadow: inset 0 1px 3px rgba(10, 10, 10, .5);
      height: 100%;
      width: 100%;
      z-index: 0;

      &.selection {
        background-image: linear-gradient(to top, #ababab, #c6c6c6);
        box-shadow: none;
        width: 0%;
        z-index: 1;
      }
    }

    &.pointer {
      background: linear-gradient(to left, $color-white, #dfdfdf);
      border: 1px solid #666;
      border-radius: 1em/1em;
      border-top: 1px solid #ddd;
      box-shadow: 2px 2px 3px $color-gray;
      cursor: pointer;
      height: 15px;
      top: -5px;
      width: 15px;
      z-index: 14;

      &::after {
        box-shadow: inset 2px 2px 5px;
      }

      &:hover::after {
        background-color: $color-black;
      }

      &.active:hover::after {
        background-color: $color-red;
      }
    }

    &.bubble {
      cursor: default;
      font-family: sans-serif;
      font-size: .7em;
      padding: 1px 3px;
      top: -22px;

      &.selection {
        top: 15px;
      }

      &.limit {
        color: $color-gray;
      }
    }
  }
}

.opt_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.val_mod {
  background-color: darken(#f0f0ee, 10%);
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: auto 5px;
  padding: 2px;

  &.insensitive {
    color: $color-white;

    + .mod_menu li:nth-of-type(2) a {
      text-decoration: underline;
    }
  }

  &.sensitive {
    color: $color-black;

    + .mod_menu li:first-of-type a {
      text-decoration: underline;
    }
  }
}

.enumerate {
  counter-increment: wordpic;

  &::before {
    content: counter(wordpic) '.';
  }
}

#showBarPlot {
  display: none;
}

.korp-warning {
  max-width: 500px;
}

warning ~ * {
  display: none !important;
}

#wordPicSettings {
  float: right;

  #numberHitsSelect {
    margin-top: 10px;
  }

}

.nav-tabs li {
  position: relative;
}

.tab_progress {
  background-color: #00008b;
  bottom: 0;
  height: 2px;
  left: 0;
  max-width: 100%;
  min-width: 3%;
  position: absolute;
  right: 0;
}

.not_loading .tab_progress {
  display: none;
}

.not_loading .hits_picture {
  left: 180px;
  transition: width 400ms ease;
}

.results-kwic {
  .controls_n {
    border: solid 1px #000;
    border-radius: 4px;
    font-size: 1.2em;
    margin-right: 5px;
    padding: 3px;
    white-space: nowrap;
  }

  .pager-wrapper {
    display: inline;
  }

  .result_controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .result_controls,
  .pager-wrapper {
    margin-bottom: 8px;
  }

  .pagination {
    display: inline-block;
    height: auto;
    margin: 0;
    margin-bottom: 8px;
    vertical-align: initial;

    .active {
      font-weight: bold;

      a {
        color: $color-white;
      }
    }

    a,
    span {
      border-width: 1px;
      color: #555;
      display: inline-block;
      float: initial;
      line-height: 18px;
      padding: 0 8px;
    }
  }

  .page_input {
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;

    span {
      color: #666;
    }

    input {
      text-align: center;
      width: 45px;
    }
  }

  &.loading {
    .controls_n {
      color: #a9a9a9;
      font-style: italic;
    }
  }
}

.arg_input {
  max-width: 90%;
}

.arg_value {
  .from,
  .to {
    width: 50px;
  }

  .from {
    float: left;
  }

  .to {
    float: right;
    text-align: left;
  }
}

.arg_val_container {
  display: flex;
  margin-top: 2px;

  select {
    max-width: 100%;
  }
}

.ui-autocomplete-category {
  color: $color-gray;
  font-size: .7em;
  letter-spacing: 1.1;
  text-transform: uppercase;
}

#keyboard {
  cursor: pointer;
  display: none;
  padding: 0 3px;
}

#char_table {
  display: none;
}

.specialkey {
  cursor: pointer;
  text-align: center;
  width: 12px;
}

#deptree_popup {
  display: none;
  overflow-y: hidden;

  iframe {
    border: 0;
    height: 400px;
  }

  .info:empty {
    display: block;
    height: 1.3em;
  }
}

.smoother.ui-slider {
  width: 200px;
}

.legend {
  float: right;
  margin-bottom: 1em;

  .action {
    color: $color-white;
    opacity: .5 !important;
  }
}

.slick-viewport .slick-cell-checkboxsel input {
  margin-left: 6px;
}


.chart_container {
  position: relative;

  .preloader {
    align-items: center;
    background-color: transparentize(#4682b4, .3);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 500ms;
    width: 100%;

    &.loading {
      opacity: 1;
      transition: opacity 500ms;
    }

    i {
      z-index: 1000;
    }
  }
}

.graph_tab {
  min-height: 430px;
}

.graph_header {
  .controls {
    float: left;
  }
}

.stats_header {
  margin-bottom: 1em;

  > * {
    display: inline-block;
    vertical-align: top;
  }
}

.reading_mode .show_deptree {
  display: none;
}

.form-table .preview {
  display: none;
}

.rickshaw_graph {
  .empty_area {
    background-color: #999;
    bottom: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .x_tick {
    border-left: 0;

    .title {
      bottom: -1.1em !important;
      left: -1.3em;

    }
  }

  .detail {
    z-index: 101;

    .x_label {
      top: -26px;
    }
  }

  svg {
    position: relative;
    z-index: 100;
  }

}

.rickshaw_legend {
  .line {
    white-space: nowrap;
  }
}

.form-bar .rickshaw_graph .x_tick .title {
  left: 0;
}

// removes the first 0 y tick
.y_ticks.plain g:first-of-type text {
  display: none;
}

.form-bar .legend li:last-child:not(:only-child) {
  display: none;
}

.form_switch {
  display: inline-block;
  vertical-align: bottom;
}

.tick {
  display: none;
}

.dot.active {
  cursor: pointer;
}

.preview {
  margin-top: 30px;
}

#main {
  min-height: calc(100vh - 30px);
  height: 100%;
}

.msd-modal {
  overflow-y: scroll;
}



.ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-button-text-only > .ui-button-text {
  padding: .4em 1em;
}

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

.time_table {
  height: 500px;
  width: 100%;
}

.time_table,
.time_table * {
  box-sizing: content-box;
}


#myGrid,
#myGrid * {
  box-sizing: content-box;
}

.loading .exportStatsSection {
  display: none;
}

#myGrid {
  height: 500px;
  width: 100%;

  .parameter-column {
    background-color: rgb(242, 247, 255);
  }

  .slick-row:hover .parameter-column {
    background-color: rgb(230, 235, 255);
  }

  .statistics-link {
    color: $color-navy;
    cursor: pointer;
  }

  .slick-row:hover .statistics-link {
    color: $color-hover;
  }

  .slick-header-column input[type="checkbox"] {
    margin-left: 4px;
  }
}

.graph_btn_icon {
  svg {
    margin-bottom: -6px;
    margin-left: -8px;
    margin-top: -6px;
  }
}

.ui-widget-header {
  background: url('images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #ccc;
}

.ui-state-hover {
  background: #e6e6e6 url('images/ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x;
}

.nav.nav-tabs {
  color: #222;
  padding-top: .2em;

  li {
    cursor: pointer;
    margin-right: .2em;
  }

  .badge {
    margin-left: 1em;
  }
}


.tabbable {
  color: #222;

  .tab-content {
    padding: 1em;
  }

  .close_icon {
    cursor: pointer;
    padding-left: 5px;
  }

  &.result_tabs .nav.nav-tabs {
    background-color: $background-color;
  }

  .nav.nav-tabs {
    background-color: $color-crown-of-thorns;
    margin: 0;
    padding-left: 0;

    li {
      background-color: darken($background-color, 8%);
      color: #555;
      font-weight: normal;
      margin-bottom: -1px;

      &:first-child {
        margin-left: .5em;
      }

      a {
        color: #555;
        margin-bottom: -1px;
        padding: .2em 1em;
        padding-bottom: .3em !important;
        padding-top: .3em !important;
      }

      &.active {
        border-bottom-color: transparent;

        a {
          background-color: $background-color;
          outline: none;
        }
      }
    }
  }
}



.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  border-color: transparent;
  border-radius: 0;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  margin-right: 0;
}



.modal-header-left {
  display: none;
}

.compare_result {
  &.loading {
    visibility: hidden;
  }

  .column {
    display: inline-block;
    vertical-align: top;
  }

  .meter {
    border: 1px solid rgba($primary-color, 0);
    cursor: pointer;
    position: relative;
    transition: all 200ms ease;

    &:hover {
      border: 1px solid rgba(darken($primary-color, 10%), 1);
      color: $color-navy;
    }
  }

  .badge {
    position: absolute;
    right: 0;
    top: 4px;
  }

  .background {
    padding: 5px 0;
  }

  .column_1 ul {
    background-color: lighten($primary-color, 4%);
    border: 1px solid $primary-color;

    .background {
      background-color: $primary-color;
    }
  }

  .column_2 ul {
    background-color: lighten(#fff3d8, 4%);
    border: 1px solid #fff3d8;

    .background {
      background-color: #fff3d8;
    }
  }

  ul {
    font-size: 1.1em;
    margin-right: 2em;
    padding: 2px;
    width: 400px;

    li {
      margin-bottom: .5em;
      white-space: nowrap;
    }
  }
}

.popover {
  border-radius: 2px;

  .popover-content {
    padding: 5px;
  }

  .btn_container {
    margin-top: 1em;
    text-align: right;
  }
}

.tab_preloaders {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;

  .preloader_spinner {
    display: inline;
    width: 9px;
  }
}

.close_icon {
  display: inline;
}

.tab_spinner {
  display: none;
  margin-left: 10px;
  vertical-align: middle;
  width: 13px;
}

.loading .tab_spinner {
  display: inline-block;
}

.loading .close_icon {
  display: none;
}


.badge {
  padding-left: 6px;
  padding-right: 6px;
}

.tab-content {
  overflow: hidden;
}

// Side notes for calling out things
// --------------------------------------------------

// Base styles (regardless of theme)
.bs-callout {
  border-left: 5px solid #eee;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;

  h4 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code,
  .highlight {
    background-color: $color-white;
  }
}

// Themes for different contexts
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dfb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.dropdown-menu {
  border-radius: 2px;
  max-height: 575px;
  overflow-y: auto;
}

// ----------- Newsdesk -----------

#news_area {
  float: right;
  margin-right: 4px;
}

.newsdesk-new-news {
  color: #428bca;
  font-weight: bold;

  div {
    background: $color-red;
    background-color: $color-red;
    color: $color-red;
    position: relative;
  }

  div::after {
    border: solid transparent;
    border-color: rgba(255, 0, 0, 0);
    border-right-color: #f00;
    border-width: 4px;
    content: ' ';
    height: 0;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
  }
}

.newsdesk-no-new-news {
  color: #ddd;
  font-weight: normal;

  div {
    background-color: #ddd;
  }
}

.newsdesk-new-news-item {
  background-color: #fee;
  border-radius: 5px;

  h4 {
    color: $color-red;
  }
}

.newsdesk-popover {
  max-height: 95%;
  overflow-y: auto;
  width: 440px;
}

.newsdesk-bell {
  float: left;
  margin-right: 3px;
  margin-top: 4px;
}

.newsdesk-arrow-box {
  border-radius: 3px;
  float: left;
  padding-left: 4px;
  padding-right: 4px;

  span {
    color: $color-white;
  }
}

.newsdesk-news-item {
  margin-bottom: 4px;
  padding-left: 4px;
}

.newsdesk-opener {
  cursor: pointer;
}

.newsdesk-around-items {
  margin: 10px;
}

.newsdesk-item-date {
  color: $color-gray;
  font-style: italic;
}

// ----------- Autocompletion -----------

.none-to-find {
  color: #aaa;
}

.num-to-find {
  font-size: x-small;
  visibility: hidden;
}

.active a span .num-to-find {
  visibility: visible;
}

.autoc-spinner {
  float: left;
  margin-left: -20px;
  margin-top: 2px;
}

// Map

.name_map {
  max-width: 1000px;
}

.leaflet-control-layers-toggle {
  background-image: url('../components/leaflet/dist/images/layers.png');
}


// korp multi select directive
.reduce-attr-select {
  color: $color-black;
  display: inline-block;

  .reduce-dropdown-button {
    cursor: pointer;
    height: 23px;
    overflow: hidden;
    transition: border-color 200ms;
    width: 100%;

    .caret {
      position: absolute;
      right: 7px;
      top: 10px;
    }

    &:hover {
      border-color: #999;
    }
  }

  .reduce-dropdown-button-text {
    padding: 2px 5px;
    width: 1000px;
  }

  .reduce-dropdown-menu {
    max-height: 400px;
    width: 100%;

    .selected {
      background: rgb(242, 247, 255);
    }

    .attribute {
      cursor: pointer;
      padding: 2px 1px;

      &:hover {
        background-color: lighten(#999, 30%);
      }
    }

    .reduce-check {
      margin: 0;
      margin-right: 4px;
      margin-top: 4px;
    }

    .reduce-label {
      position: absolute;
    }

    ul {
      margin: 0;
      padding: 2px;
    }

    .insensitive-toggle {
      color: $color-black;
      float: right;

      &.selected {
        color: $color-gray;
      }
    }
  }
}

// sidebar video
#video-container {
  height: 320px;
  position: relative;
  width: 568px;

  #extra-controls {
    background-color: rgba(0, 0, 0, .7);
    height: 320px;
    left: 0;
    position: absolute;
    top: 0;
    width: 568px;
    z-index: 10;

    >* {
      color: $color-white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      height: 75px;
      position: relative;
      text-align: center;
      width: 75px;
    }

    .restart {
      left: 25%;
      top: 35%;
    }

    .continue {
      float: right;
      right: 25%;
      top: 35%;
    }

    .restart-icon,
    .continue-icon {
      display: block;
      font-size: 3em;
    }
  }
}

#video-meta-container {
  .utterance,
  .time {
    font-weight: bold;
  }

  .time-div {
    padding-top: 15px;
  }
}

.or_container .word {
  color: #222;
}

.map-settings-container {
  margin-left: 20px;

  .caret {
    margin-left: 10px;
  }

  ul {
    margin: 0;
    padding: 2px;

    .map-selected {
      margin: 4px 4px 0 0;
    }

    li {
      cursor: pointer;
      padding: 2px 1px;
      white-space: nowrap;
    }

    .checked {
      color: $color-white;
    }

    .selected {
      background: #f2f7ff;

      .checked {
        color: $color-black;
      }
    }
  }

  .empty-attribute-list {
    font-size: 12px;
    font-style: italic;
    padding-left: 2px;
    padding-top: 2px;
  }

  .btn-container {
    padding: 10px;
    text-align: right;
  }

  .map-settings-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
  }

  .dropdown-menu {
    padding: 0;
  }
}

#mapHeader {
  width: 100%;

  div.disabled {
    opacity: .4;
  }

  div.mapgroup {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;

    div.swatch {
      display: inline-block;
      margin-right: 5px;
    }

    div.cluster-info {
      background-color: rgba(136, 220, 168, .6);
      border-radius: 5px;
    }
  }

  span.check {
    color: $color-white;
    opacity: .5 !important;
  }
}

.global-filters-container {
  margin-bottom: 10px;

  > div {
    margin-bottom: 10px;
  }
}

.korp-uib-dropdown-menu {
  font-weight: bold;
  margin-left: 4px;
  margin-top: 7px;
  padding: 0;

  .selected {
    background: #f2f7ff;
  }

  .attribute {
    padding: 5px;
  }

  .attribute:hover {
    background-color: #e6e6e6;
  }

  ul {
    margin: 0;
    padding: 0;
  }

}

.global-filter-toggle {
  margin-left: 5px;

  .selected-attr-value {
    font-weight: bold;
    padding-left: 4px;
  }

}

.input-error {
  border: $color-red 2px solid;
}

// TODO we should not do this, update boostrap instead?
.sr-only {
  display: none;
}

.show-graph-btn.disabled {
  pointer-events: auto;
}

.strix-link {
  margin-top: 20px;
}

.lemgram-namespace {
  color: #777;
}
