.DS_Store
.sass-cache
node_modules
/dist
/.tmp
/app/components/*
*.map
.vscode
release_bin
app/index.html
app/user_guide.html
app/scripts/bin/
app/styles/styles.css
app/styles/bootstrap.css
app/styles/about.css
release
run_config.json
*~
as_config/
