RewriteEngine On
RewriteRule ^fornrit$ /?mode=fornrit [R,END]
RewriteRule ^mim$ /?mode=mim [R,END]
RewriteRule ^otb$ /?mode=otb [R,END]
RewriteRule ^parallel$ /?mode=parallel [R,END]
RewriteRule ^rmh2017$ /?mode=rmh2017 [R,END]
RewriteRule ^rmh2018$ /?mode=rmh2018 [R,END]

