RewriteEngine on
RewriteRule ^fornrit$ "localhost:9111/?mode=fornrit"
RewriteRule ^mim$ "localhost:9111/?mode=mim"
RewriteRule ^otb$ "localhost:9111/?mode=otb"
RewriteRule ^rmh2017$ "localhost:9111/"
RewriteRule ^fornrit/$ "localhost:9111/?mode=fornrit"
RewriteRule ^mim/$ "localhost:9111/?mode=mim"
RewriteRule ^otb/$ "localhost:9111/?mode=otb"
RewriteRule ^rmh2017/$ "localhost:9111/"
