doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description', content='Notendaleiðbeiningar fyrir Risamálheildina')
    meta(name='google', content='notranslate')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109855699-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109855699-1');

    // build:css styles/korp.css
    link(rel='stylesheet', type='text/css', href='styles/bootstrap.css')
    link(type='text/css', href='styles/ui_mods.css', rel='stylesheet')
    // endbuild
    link(type='text/css', href='components/jquery-ui/themes/smoothness/jquery-ui.min.css', rel='stylesheet')
    

    link(rel='stylesheet', type='text/css', href='styles/about.css')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    title Risamálheild - leiðbeiningar
  body
    div.maincontent
      header
        h1#top-of-page Notkunarleiðbeiningar fyrir risamálheildina 
        p (verk í vinnslu)
      section.mainsection.clearfix
        h2#kafli-1 Val á undirmálheildum
        figure.fig.fig-right
          figcaption Undirmálheildavalmynd
          img(src="img/user_guide/corp_selector.png")
        p Ef smellt er á slána efst á síðunni birtist fellivalmynd. Í þeirri valmynd er hægt að velja í hvaða textasöfnum á að leita. 
        p Textasöfnunum er raðað í flokka og hægt er að velja bæði heila flokka og stök textasöfn.
        p Tímalínan sem sjá má hér til hægri lýsir tímadreifingu textans. Í dæminu sem er tekið eru aðeins Alþingisræður valdar svo gögnin eru nokkuð jafndreifð. 
          | Gráu stöplarnir sýna svo dreifingu þeirra textasafna sem ekki eru valin en eru þó í málheildinni. Þar sést greinilega að stærstur hluti gagnanna er frá því eftir aldamót.
        p Ef músarbendlinum er haldið yfir nafni textasafns birtast nánari upplýsingar um það.  
      section.mainsection.clearfix
        h2#kafli-2 Einföld leit
        figure.fig.fig-right
          figcaption Leitarvalmynd
          img(src="/img/user_guide/simple_search.png")
        p Einfaldasta leiðin til að nota Risamálheildina er að skrifa einfaldlega leitarorðið og smella á "Leita"
        p Sjálfkrafa er hakað við "óháð há- og lágstöfum". Þetta er gert til að yfirsjást ekki orð sem koma fyrir í upphafi setninga.
          | Einnig má haka við "upphaf" eða "endir" en þá fást orð sem annaðhvort byrja eða enda á textastrengnum sem leitað var eftir.
        p Þar fyrir utan má velja hvort maður leitar eftir orðmynd eða uppflettimynd: 

        h3#kafli-2-1 Upphaf eða endir
        p Ef hakað er við <em>upphaf</em> eða <em>endir</em> fást niðurstöður sem annað hvort byrja eða enda á leitarstrengnum, en gætu innihaldið fleiri stafi.
        h3#kafli-2-2 Óháð há- og lágstöfum
        p Valmöguleikinn <em>óháð há- og lágstöfum</em> stýrir því hvort tekið er tillit til hvort fyrsti stafur í leitarstreng sé há- eða lágstafur.
        h3#kafli-2-3 Leita eftir <em>orðmynd</em> eða <em>uppflettimynd</em>
        p Ef merkt er við <em>orðmynd</em> í leitarvalmyndinni fást öll tilfelli af nákvæmlega þeirri orðmynd í völdum textasöfnum. 
          | Þetta skilar þó ekki öllum tilfellum af orðinu sjálfu, þar sem mögulegt er að sama orð komi fyrir í annari mynd.
        p Til þess að fá allar orðmyndir skal merkja við <em>uppflettimynd</em>: 
          img(src="/img/user_guide/simple_search_searchby.png")
        p Ef það er gert fást öll tilfelli af því orði sem leitað er eftir í textanum, óháð því hvaða birtingarmynd þau hafa.
        figure.fig.fig-left
          figcaption Leitað eftir orði
          img(src="/img/user_guide/word_search_results.png")
        figure.fig.fig-right
          figcaption Leitað eftir uppflettimynd
          img(src="/img/user_guide/lemma_search_results.png")
        p Hafa ber þó í huga að <strong>ekki</strong> dugar að leita eftir hvaða orðmynd sem er ef seinni valkosturinn er valinn,
          |  því aðeins virkar að leita eftir uppflettimyndinni, líkt og ef flett væri upp í orðabók. 
        p Fyrir flóknari fyrirspurnir verður að grípa til útvíkkaðrar leitar.
      section.mainsection.clearfix
        h2#kafli-3 Útvíkkuð leit
        figure.fig.fig-big
          figcaption Útvíkkuð leit
          img(src="/img/user_guide/extended_search_query.png")
        figure.fig.fig-right
          figcaption Útkoma útvíkkaðrar leitar
          img(src="/img/user_guide/extended_search_results.png")
        p Til að skýra útvíkkaða leit er best að taka dæmi. Fyrirspurnin að ofan leitar að þriggja orða runu. 
          | Fyrst kemur "í", svo nafnorð í þolfalli eða þágufalli og loks persónufornafn í þágufalli.
        p Orðið "því" er útilokað úr leitinni því það er talsvert um að persónufornafni sé ruglað við samtengingu í gögnunum.
        p Hluta af niðurstöðum leitarinnar má svo sjá hér til hægri.
        p Þar sem um þriggja orða runu er að ræða eru "spjöldin" sem byggja upp fyrirspurnina þrjú talsins. 
        .row.clearfix
          .col.col-4
            img.fig-right(src="/img/user_guide/extended_search_card1.png")
            p Spjaldið vinstra megin segir einfaldlega að orðið(orðmyndin sjálf) sem svarar til þess verði að vera "í"
          .col.col-4
            img.fig-right(src="/img/user_guide/extended_search_card2.png")
            p Spjaldið í miðjunni segir að orðið sem svarar til þess verði að vera nafnorð OG það verði að vera í þolfalli eða þágufalli.
          .col.col-4
            img.fig-right(src="/img/user_guide/extended_search_card3.png")
            p Spjaldið hægra megin segir að orðið sem svarar til þess megi ekki vera "því", verði að vera í þágufalli og verði að vera persónufornafn.
        h3#kafli-3-1 Útvíkkuð leit byggð upp
        figure.fig.fig-small.fig-right
          figcaption Uppafsstillt leitarspjald
          img(src="/img/user_guide/extended_token.png")
        p Þegar útvíkkuð leit er valin mætir manni stakt spjald (sjá til hægri). Það spjald svarar til eins leitarorðs. 
          | Ef smellt er á "orðmynd" birtist fellivalmynd sem sýnir þá þætti sem hægt er að leita eftir. Meðal þeirra er t.d. "Lemma", 
          | sem er oft kallað uppflettimynd, og beygingarþættir svo sem kyn, tala, fall, háttur o.s.frv.
        p Einnig er hægt að leita eftir þáttum sem eiga við um textann í heild. Þessir þættir eru kallaðir <em>eigindi texta</em>. M.a. má leita eftir ritunartíma, höfundi, titli o.fl.
        p Einnig eru sum eigindi sem eiga bara við ákveðin textasöfn. T.d. er hægt að takmarka leit í Alþingisræðum við einn þingmann. 
          | Það er gert með því að velja <em>Þingmaður</em> undir <em>eigindi texta</em> í fellivalmyndinni á leitarspjaldinu og slá síðan inn fullt nafn þingmannsins. 
        p Á spjaldinu má sjá tvo hnappa; <em>Bæta við möguleika</em> og <em>Bæta við skilyrði</em>.
        ul
          li Ef smellt er á <em>Bæta við möguleika</em> birtist annar reitur fyrir leitarskilyrði. Niðurstöðurnar verða þá öll orð sem uppfylla 
            | <strong>annað hvort</strong> þeirra skilyrða sem skilgreind eru.
          li Ef smellt er á <em>Bæta við skilyrði</em> birtist eins reitur fyrir leitarskilyrði. Niðurstöður leitarinnar verða öll orð sem uppfylla <strong>bæði</strong> 
            | skilyrðin sem skilgreind eru
        p Með þessum tveimur möguleikum er unnt að tvinna saman flókin leitarspjöld svo sem annað og þriðja spjaldið í dæminu <a href='#kafli-3'>hér að ofan</a>.
        figure.fig.fig-small.fig-right
          figcaption Samsett leitarspjald
          img(src="/img/user_guide/thingmadur_token.png")
        p Hér til hægri má einnig sjá dæmi um leitarspjald sem leitar eftir eftirfarandi skilyrði:
        ul
          li <em>Þingmaður</em> er 'Ólafur Ragnar Grímsson' <strong>OG</strong> <em>Lemma</em> er 'forseti'
        p Sem sagt, þessi leit skilar öllum tilfellum úr þingræðum þar sem Ólafur Ragnar Grímsson hefur sagt einhverja orðmynd orðsins forseti.
      section.mainsection.clearfix
        h2 Meira á leiðinni...
      
    div.sidebar-left
      p Efni á þessarri síðu
      ul.table-of-contents
        li
          a(href='#top-of-page') Fara efst á síðu
        li
          a(href='#kafli-1') Val á undirmálheildum
        li
          a(href='#kafli-2') Einföld leit
          ul
            li
              a(href='#kafli-2-1') Upphaf eða endir
            li
              a(href='#kafli-2-2') Óháð há- og lágstöfum
            li
              a(href='#kafli-2-3') Leita eftir <em>orðmynd</em> eða <em>uppflettimynd</em>
        li
          a(href='#kafli-3') Útvíkkuð leit
          ul
            li
              a(href="#kafli-3-1") Útvíkkuð leit byggð upp
