doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description', content='Notendaleiðbeiningar fyrir Risamálheildina')
    meta(name='google', content='notranslate')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109855699-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109855699-1');
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    title Risamálheild - leiðbeiningar
  body
    div.maincontent
      header
        h1#top-of-page Notkunarleiðbeiningar fyrir risamálheildina 
        p (verk í vinnslu)


      section.mainsection.clearfix
        h2#kafli-1 Val á undirmálheildum
        figure.fig.fig-right
          figcaption Undirmálheildavalmynd
          img(src="./img/user_guide/corp_selector.png")
        p Til þess að velja hvaða undirmálheild leita á í getur þú smellt á slána efst á síðunni. 
          | Þá birtist fellivalmynd þar sem hægt er að haka (eða afhaka) við undirmálheildir. Aðeins er leitað í þeim undirmálheildum sem hakað er við.

        p Textunum í risamálheildinni er raðað í flokka og hægt er að velja bæði stök textasöfn og heila efnisflokka eftir hentisemi.

        p Tímalínan efst í fellivalmyndinni sýnir tímadreifingu textanna. Eins og sjá má er langmest af textunum 
          | frá því um og eftir aldamótin 2000, en þó eru einhverjar undirmálheildir sem ná lengra aftur í tímann, 
          | t.d. Alþingisræður, sem ná aftur til upphafs 20. aldar, og Lög, en fyrstu textarnir í því textasafni eru frá 13. öld. 
          | Á myndinni hér að ofan er aðeins textasafnið “Alþingisræður” valið, og sýnir bláa svæðið á tímalínunni dreifingu þeirra texta.

        p Ef músarbendlinum er haldið yfir nafni textasafns birtast nánari upplýsingar um það.

      section.mainsection.clearfix
        h2#kafli-2 Einföld leit
        figure.fig.fig-right
          figcaption Leitarvalmynd
          img(src="./img/user_guide/simple_search.png")

        p Einfaldasta leiðin til að nota Risamálheildina er að skrifa einfaldlega leitarorðið og smella á "Leita"
        p Sjálfkrafa er hakað við "óháð há- og lágstöfum". Þetta er gert til að yfirsjást ekki orð sem koma fyrir 
          | í upphafi setninga.Einnig má haka við "upphaf" eða "endir" en þá fást orð sem annaðhvort byrja eða enda á textastrengnum sem leitað var eftir.
        p Þar fyrir utan má velja hvort maður leitar eftir orðmynd eða uppflettimynd:
        h3#kafli-2-1 Upphaf eða endir
        p Ef hakað er við upphaf eða endir fást niðurstöður sem annað hvort byrja eða enda á leitarstrengnum, en gætu innihaldið fleiri stafi.
        h3#kafli-2-2 Óháð há- og lágstöfum
        p Valmöguleikinn óháð há- og lágstöfum stýrir því hvort tekið er tillit til hvort fyrsti stafur í leitarstreng sé há- eða lágstafur.
        h3#kafli-2-3 Leita eftir orðmynd eða uppflettimynd
        p Ef merkt er við orðmynd í leitarvalmyndinni fást öll tilfelli af nákvæmlega þeirri orðmynd í völdum textasöfnum. 
          | Þetta skilar þó ekki öllum tilfellum af orðinu sjálfu, þar sem mögulegt er að sama orð komi fyrir í annari mynd.
        p Til þess að fá allar orðmyndir skal merkja við uppflettimynd: 
          img(src="./img/user_guide/simple_search_searchby.png")
        p Ef það er gert fást öll tilfelli af því orði sem leitað er eftir í textanum, óháð því hvaða birtingarmynd þau hafa.

        p Hafa ber þó í huga að ekki dugar að leita eftir hvaða orðmynd sem er ef seinni valkosturinn er valinn, 
          | því aðeins virkar að leita eftir uppflettimyndinni, líkt og ef flett væri upp í orðabók.
        p Fyrir flóknari fyrirspurnir verður að grípa til útvíkkaðrar leitar.

      section.mainsection.clearfix
        h2#kafli-3 Útvíkkuð leit

        figure.fig.fig-big
          figcaption Útvíkkuð leit
          img(src="./img/user_guide/extended_search_query.png")

        figure.fig.fig-right
          figcaption Upphafsstillt leitarspjald
          img(src="./img/user_guide/extended_search_token.png")
        p Þegar útvíkkuð leit er valin mætir manni stakt spjald (sjá til hægri). Það spjald svarar til eins leitarorðs. 
        p Neðst á spjaldinu má sjá tvo hnappa; Bæta við möguleika og Bæta við skilyrði.
        p Ef smellt er á Bæta við möguleika birtist annar reitur fyrir leitarskilyrði. Niðurstöðurnar verða þá öll orð sem uppfylla annað hvort þeirra skilyrða sem skilgreind eru.
        p Ef smellt er á Bæta við skilyrði birtist eins reitur fyrir leitarskilyrði. Niðurstöður leitarinnar verða öll orð sem uppfylla bæði skilyrðin sem skilgreind eru
        p Hver reitur í spjaldi er samsettur úr þremur hlutum.
        .row
          .col.col-4
            figure.fig.fig-tiny.fig-right
              figcaption Leitarþættir
              img(src="./img/user_guide/extended_search_attributes.png")
            span Fyrsti hlutinn er leitarþáttur. Sjálfvalinn leitarþáttur er orðmynd, en 
              | ef smellt er á "Orðmynd" birtist fellivalmynd sem sýnir þá þætti sem hægt er að leita eftir. 
              | Meðal þeirra er t.d. "Lemma", sem er oft kallað uppflettimynd eða orðabókarmynd, og beygingarþættir 
              | svo sem kyn, tala, fall, háttur o.s.frv. Einnig er hægt að leita eftir þáttum 
              | sem eiga við um textann í heild. Þessir þættir eru kallaðir eigindi texta. 
              | Leita má eftir ritunartíma, höfundi, titli o.fl.
          .col.col-4
            figure.fig.fig-tiny.fig-right
              figcaption Paranir
              img(src="./img/user_guide/extended_search_pairing.png")
            span Annar hlutinn segir til um hvernig á að para leitarþáttinn við leitarstreng. 
              | Sjálfvalið gildi er „er“ en það skilar aðeins niðurstöðum sem passa 
              | nákvæmlega við leitarstreng. Ef smellt er á „er“ birtist einnig fellivalmynd 
              | þar sem velja má milli ýmissa pörunaraðferða, meðal annars reglulegra segða (regular expression).
          .col.col-4
            figure.fig.fig-big
              figcaption Leitarreitur
              img(src='./img/user_guide/extended_search_searchterm.png')
            figure.fig.fig-tiny.fig-right
              figcaption Leitarvalmynd
              img(src='./img/user_guide/extended_search_searchdropdown.png')
            span Þriðji hluti leitarreits er svo leitarstrengurinn sjálfur. Við hliðina á textareitnum 
              | er hnappur sem stillir hvort leit skuli vera stafnæm eða óstafnæm, 
              | þ.e.a.s. hvort taka eigi tillit til há- og lágstafa.


        h3#kafli-3-1 Dæmi um samsett leitarspjald
        figure.fig.fig-small.fig-left
          img(src='./img/user_guide/extended_search_combinedtoken.png')
        p Með með því að setja saman marga reiti má útbúa flókin leitarspjöld. 
          | Tökum dæmi.
        p Í dæminu hér til vinstri var fyrst valinn leitarþátturinn "Lemma", 
          | sem er einnig kallaður uppflettimynd. Sambanburðaraðferðin var sett sem regexp, 
          | en notendur eru hvattir til að 
          a(href='https://en.wikipedia.org/wiki/Regular_expression') kynna sér mátt reglulegra segða.
        p Reglulega segðin sem er notuð í leitinni er ".*andi", en það táknar 
          | einhver stafaruna sem endar á -andi. Punktur stendur fyrir hvaða staf sem er í reglulegum segðum
          | og stjarna stendur fyrir endurtekningu.
        p Eftir að reglulega segðin var skrifuð var smellt á "Bæta við skilyrði (og)". 
          | Þá bættist við annar reitur og hann var fylltur út með skipuninni 
          | "Orðflokkur er 'Nafnorð'"
        p Hér er semsagt verið að leita að svokölluðum gerund-nafnorðum eða sagnarnafnorðum, 
          | þ.e.a.s nafnorðum sem eru mynduð út frá lýsingarhætti sagnorða. 
          | Hér má svo sjá niðurstöður leitarinnar:
        figure.fig.fig-big
          figcaption Dæmi um gerund-nafnorð
          img(src='./img/user_guide/combined_token_results.png')
        p Bæta má við fleiri leitarspjöldum með því að smella á hnappinn hægra megin við leitarspjöld: 
          img(src='./img/user_guide/add_token.png')


        h3#kafli-3-2 Dæmi um útvíkkaða leit
        p Með þessi tæki að vopni má framkvæma nákvæmar leitir. Til dæmis má leita 
          | að einni algengustu birtingarmynd nýju þolmyndarinnar; orðasamböndum á við 
          | „það var hrint mér“ og „það var hitt hann“.
        p Fyrri tvö orðin í orðasambandinu eru þá einfaldlega „það“ og „var“, 
          | þriðja orðið er sagnorð í lýsingarhætti þátíðar og hið fjórða er 
          | persónufornafn í aukafalli. (ath. að aðeins er um nýju þolmyndina að ræða 
          | ef „það“ er leppfrumlag, þ.e.a.s. vísar ekki í neinn nafnlið.)
        p Fyrsta spjaldið inniheldur þá leitarskilyrðið „Orðmynd er 'það'“.: 
        img.center(src='./img/user_guide/extended_token1.png')
        p Nú bætum við öðru spjaldi við með því að smella á „Bæta við leitarorði“ 
          | og fyllum inn í það „Orðmynd er 'var'“:
        img.center(src='./img/user_guide/extended_token2.png')
        p Þá bætum við enn við öðru spjaldi. Við viljum fá sagnorð í lýsingarhætti 
          | þátíðar svo við veljum leitarþáttinn „Sagnháttur“. Þá breytist textareiturinn 
          | í fellivalmynd og við getum smellt á hana og valið „Lýsingarháttur þátíðar“:
        img.center(src='./img/user_guide/extended_token3.png')
        p Að lokum bætum við við fjórða spjaldinu. Það uppfyllir tvö skilyrði: 
          | Í fyrra lagi er orðið persónufornafn og í seinna lagi er það í aukafalli 
          | (þf. þgf. eða ef.). Byrjum á fyrra skilyrðinu. Við veljum 
          | leitarþáttinn „Flokkur fornafns“ og veljum svo „Persónufornafn“. 
          | Þá er smellt á „Bæta við skilyrði (og)“ 
          | (þar sem bæði skilyrðin þurfa að vera uppfyllt samtímis.) 
          | Þá birtist annar reitur að neðan. Í honum veljum við leitarþáttinn „Fall“. 
          | Við viljum að fallið sé aukafall, þ.e. ekki nefnifall svo við smellum á 
          | „er“ og breytum því í „er ekki“. Þá veljum við „Nefnifall“ úr valmyndinni.
          |  Þá ætti spjaldið að líta svona út: 
        img.center(src='./img/user_guide/extended_token4.png')
        p Þá er leitin tilbúin og einfaldlega smellt á „Leita“ og beðið eftir niðurstöðunum.
        figure.fig.fig-big
          figcaption Leitarfyrirspurnin í heild sinni
          img(src='./img/user_guide/extended_whole.png')


        h3#kafli-3-3 Sérstök textaeigindi
        p Sum eigindi eiga bara við ákveðin textasöfn. T.d. er hægt að takmarka 
          | leit í Alþingisræðum við ræður eftir ákveðna þingmenn.
        p Það er gert með því að velja Þingmaður undir eigindi texta í 
          | fellivalmyndinni á leitarspjaldinu og slá síðan inn fullt nafn þingmannsins.
        p Hér til hægri má einnig sjá dæmi um leitarspjald sem leitar eftir eftirfarandi skilyrði:
        p Þingmaður er 'Ólafur Ragnar Grímsson' OG Lemma er 'forseti'
        img.center(src='./img/user_guide/thingmadur.png')
        p Þessi leit skilar öllum tilfellum úr þingræðum þar sem 
          | Ólafur Ragnar Grímsson hefur sagt einhverja orðmynd orðsins forseti.

        p Einnig er hægt að takmarka leitir við ákveðið tímabil. Það er gert með því að velja textaeigindin „Á tímabili“ og stilla síðan neðra og efra mark dagsetningar. 
        img.center(src='./img/user_guide/timabil.png')

      section.mainsection.clearfix
        h2#kafli-4 CQP fyrirspurnamálið
        figure.fig.fig-big
          figcaption CQP-flipinn
          img(src='./img/user_guide/cqp.png')
        p Leitarvélin byggir á bakenda sem nýtir sér fyrirspurnamálið CQP 
          | (e. corpus query processor) Query Language. Einföld og útvíkkuð 
          | leit bjóða upp á myndræna uppbyggingu á fyrirspurnum í því máli en 
          | hægt er að skrifa fyrirspurnir handvirkt ef flipinn CQP-fyrirspurn er valinn.
        p ATH að ekki er mælt með því að byrjendur skrifi sínar eigin CQP 
          | fyrirspurnir þar sem yfirleitt er hagkvæmara og einfaldara að 
          | byggja þær upp myndrænt í útvíkkaðri leit. Sú aðferð hefur þó 
          | takmarkanir og ef farið er út fyrir þær gæti þurft að grípa til handsmíðaðra fyrirspurna.
        p Ef leitir hafa þegar verið skrifaðar inn í hina tvo flipana má sjá 
          | hvernig þær skipanir birtast í CQP fyrirspurnamálinu og breyta þeim 
          | skipunum eða skrifa sína eigin fyrirspurn frá grunni. 
          | Hægt er að nálgast leiðbeiningar fyrir málið 
          a(href='http://cwb.sourceforge.net/files/CQP_Tutorial.pdf') með þessum hlekk
          |  en best er að finna út úr þeim atriðum sem eru einstök innan 
          | Risamálheildarinnar með því að byggja upp fyrirspurnir í útvíkkaðri 
          | leit og skoða hvernig þær birtast í CQP flipanum.
      section.mainsection.clearfix
        h2#kafli-5 Niðurstöður fyrirspurna
        p Niðurstöður leita í risamálheildinni eru á formi svokallaðra 
          | orðstöðulykla (e. KWIC, Keyword in Context).
        p Þannig birtast öll dæmi sem koma upp úr leitinni eins og þau komu fyrir 
          | í frumtextanum, með einhverju samhengi gefnu. Samhengið má stilla 
          | í verkfærastikunni fyrir ofan niðurstöðurnar, en sjálfgefið gildi 
          | er 7 orð sitt hvorum megin. 
        img.center(src='./img/user_guide/stats_bar.png')
        p Í stikunni má einnig stilla fjölda niðurstaðna á síðu, en ef flóknar 
          | leitir sem taka langan tíma eru framkvæmdar er mælt með því að 
          | stillt sé á a.m.k. 100 niðurstöður á síðu, þar sem það getur tekið 
          | nokkurn tíma að fletta í niðurstöðum. Leitin tekur ekki lengri 
          | tíma þótt fleiri niðurstöður séu birtar á hverri síðu.
        p Í orðstöðulyklinum má smella á hvert orð, en þá birtist reitur hægra 
          | megin á síðunni. Reiturinn inniheldur bæði upplýsingar um textann 
          | sem dæmið kemur úr (eigindi texta) og greiningu á orðinu sjálfu 
          | (eigindi orðs). Einnig er hægt að færa sig á milli orða í niðurstöðunum 
          | með því að nota pílurnar á lyklaborðinu.
        h3#kafli-5-1 Tölfræði
        p Í verkfærastikunni má einnig sjá fellivalmynd fyrir tölfræði. [MYND]
        p Leitarvél Risamálheildarinnar býður upp á að draga saman tíðniupplýsingar 
          | úr niðurstöðum leita. Þannig má fá upplýsingar um það hvaða orðmynd 
          | ákveðins orðs er algengust, hvaða þingmaður hefur sagt tiltekið 
          | orðasamband oftast, eða hvaða orðflokki orðmyndin „að“ tilheyrir 
          | oftast svo nokkur dæmi séu tekin.
        p Niðurstöðunum má raða eftir tíðni í hverri undirmálheild fyrir sig og 
          | ef smellt er á línu í töflunni opnast leitargluggi sem inniheldur 
          | orðstöðulykla fyrir einungis þær niðurstöður sem eiga við þá röð.
        h3#kafli-5-2 Graf
        p Hægt er að skoða þróun orðtíðni yfir tíma með því að smella á 
          | hnappinn „Sýna notkun yfir tíma“ í tölfræðiflipanum. Þá birtist nýr 
          | flipi þar sem inn hleðst línurit yfir orðtíðni sem fall af tíma. [MYND] 
          | Mögulegt er að birta sömu upplýsingar sem súlurit eða sem töflu, 
          | en síðastnefndi kosturinn er gagnlegur ef skoða á gögnin nánar í 
          | töflureikni eða tölfræðiforriti (Sjá hér að neðan).
        p Stilla má tímabilið sem birtist á grafinu með því að draga til 
          | handföng á rekkanum fyrir neðan grafið. [MYND] 
          | Ef tímabilið er stillt nógu smátt þá eykst nákvæmni töflunnar. 
          | Það getur þó tekið nokkrar sekúndur að hlaða uppfærðu grafi.
      section.mainsection.clearfix
        h2#kafli-6 Úttak og skil leitarvélar
        h3#kafli-6-1 Úttak fyrir töflureikna (CSV & TSV)
        p Til þess að beita töflureiknum og tölfræðihugbúnaði á við Microsoft Excel 
          | og SPSS á útkomur leita í Risamálheildinni er 
          | mikilvægt að fá gögnin á nothæfu sniði fyrir þann hugbúnað. 
          | Leitarvélin býður upp á að hala niður bæði leitarniðurstöðum og 
          | tölfræðitöflum sem annað hvort CSV (Comma Separated Value) eða 
          | TSV (Tab Separated Value). Fyrir leitarniðurstöðurnar er smellt 
          | á hnappinn „Hala síðu niður sem...“ sem er staðsettur neðarlega til 
          | hægri á síðunni. Svo er sá möguleiki valinn sem hentar. [MYND] 
          | Fyrir tölfræðitöflur er aðferðin svipuð. Fyrst velur maður 
          | töfluflipann á niðurstöðusíðunni. Þá má sjá litla valmynd neðst til 
          | vinstri á síðunni. Þar velur maður hvort hala á niður hlutfallslegum 
          | tíðnum eða heildartíðnum, og jafnframt hvort CSV eða TSV gildi 
          | skulu notuð. Síðan er smellt á hnappinn sem á stendur „Keyra út“. 
          | Þá breytist texti hnappsins í „Hala niður“ og maður smellir 
          | aftur til þess að hala niður gögnunum.
        h3#kafli-6-2 JSON
        p Bakendi Korp skilar gögnum á JSON formi[https://www.json.org/] sem 
          | framendinn vinnur síðan úr. Hægt er að sækja hráu JSON gögnin 
          | með því að framkvæma leit og smella svo á JSON takkann sem er 
          | staðsettur neðarlega til hægri á síðunni. Slíkt snið hentar vel til 
          | meðhöndlunar með forritunarmálum á borð við JavaScript og Python. 
          | Áhugasömum forriturum viljum við einnig benda á að hægt er að sækja 
          | frumgögn Risamálheildarinnar ásamt fleiri mállegum gagnasöfnum 
          | á síðunni malfong.is[http://malfong.is]

    div.sidebar-left
      p Efni á þessarri síðu:
      a(href='#top-of-page') Fara efst á síðu
      ol.table-of-contents
        li
          a(href='#kafli-1') Val á undirmálheildum
        li
          a(href='#kafli-2') Einföld leit
          ol
            li
              a(href='#kafli-2-1') Upphaf eða endir
            li
              a(href='#kafli-2-2') Óháð há- og lágstöfum
            li
              a(href='#kafli-2-3') Leita eftir <em>orðmynd</em> eða <em>uppflettimynd</em>
        li
          a(href='#kafli-3') Útvíkkuð leit
          ol
            li
              a(href="#kafli-3-1") Dæmi um samsett leitarspjald
            li
              a(href="#kafli-3-2") Útvíkkuð leit byggð upp
            li
              a(href="#kafli-3-3") Sérstök textaeigindi
        li
          a(href='#kafli-4') CQP fyrirspurnamálið
        li
          a(href='#kafli-5') Niðurstöður fyrirspurna
          ol
            li
              a(href='#kafli-5-1') Tölfræði
            li
              a(href='#kafli-5-2') Graf
        li
          a(href='#kafli-6') Úttak og skil leitarvélar
          ol
            li
              a(href='#kafli-6-1') Úttak fyrir töflureikna (CSV/TSV)
            li
              a(href='#kafli-6-2') JSON
              
    script(src="user_guide.js")
